@use './variables' as *;
@use './fonts' as *;
.background-gradient{
    background: linear-gradient(324deg, rgba(0,0,0,0.7497592787114846) 0%, rgba(0,0,0,0.321187850140056) 40%);
}
.hl{
   width: 200px;
   border-bottom: 1px solid white;
}