@import './assets/scss/home.scss';
@import './assets/scss/nav.scss';
@import './assets/scss/animations.scss';
@import './assets/scss/fonts';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.georama {
  font-family: "Georama", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.long-shadow{
  text-shadow: 9px 3px 8px rgba(0,0,0,0.43);
}
.main{
  box-sizing: content-box;
}
:root{
  --transition-enter: .9s ease;
  --transition-exit: .8s ease;
  /* colors */
  --color1: #89375F;
  --color2: #CE5959;
  --color3: #BACDDB;
  --color4: #F3E8FF;
  --color5: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(137,55,95,1) 0%, rgba(206,89,89,1) 100%);


}
// ::-webkit-scrollbar { width: 0 !important }
html, body{
  background-color: var(--color1);
  color: white;
  margin: 0;
  position:relative;
  font-family: 'Garamond', 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
  
}
#root{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


      .section-tag{
        font-weight: 400;
        font-size: .75rem;
        letter-spacing: .30rem;
        width: 100%;
        font-family: sans-serif;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    }
    .section-tag::before{
        content: "";
        display: inline-block;
        position: relative;
        border-color: orange;
        border-style: solid;
        background: orange;
        border-width: 2px;
        height: .3rem;
        width: .25rem;
        margin-right: 15px;
        
    }
    .hl{

      height: 1px;
      border-bottom: 1px solid;
    
  }