@import './assets/scss/home.scss';
@import './assets/scss/nav.scss';
@import './assets/scss/animations.scss';
@import './assets/scss/fonts';
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.georama {
  font-family: "Georama", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.long-shadow{
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}
.long-box-shadow{
 box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}
.main{
  box-sizing: content-box;
}
:root{
  --transition-enter: .9s ease;
  --transition-exit: .8s ease;
  /* colors */
  --color1: #89375F;
  --color2: #CE5959;
  --color3: #BACDDB;
  --color4: #F3E8FF;
  --color5: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(137,55,95,1) 0%, rgba(206,89,89,1) 100%);


}
// ::-webkit-scrollbar { width: 0 !important }
footer{
  background-color: var(--color1);
  color: var(--color4);
}
html, body{
  margin: 0;
  position:relative;
  font-family: 'Garamond', 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
  
}
#root{
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
body {
  background-color: var(--color1);
  
  color: white;
  transition: background-color 1s, color 1s;
  &.bright{
    transition: background-color 1s, color 1s;
    background-color: var(--color2);
    color: var(--color4);
    .section-tag::before{

      border-color: var(--color1);

      background: var(--color1);
    
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  }
  overflow-x: hidden;
  overscroll-behavior-y: none;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


      .section-tag{
        margin-left: 0;
        font-weight: 400;
        font-size: .75rem;
        letter-spacing: .30rem;
        width: 100%;
        font-family: sans-serif;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
    }
    .arrow-clip{
      filter: brightness(90%);
      background-color: #BACDDB;
      clip-path: polygon(0 50%, 19% 100%, 37% 100%, 16% 50%, 37% 0, 48% 0, 26% 50%, 47% 100%, 91% 100%, 71% 50%, 91% 0, 19% 0);
    }
    .section-tag::before{
        content: "";
        display: inline-block;
        position: relative;
        border-color: var(--color3);
        border-style: solid;
        background: var(--color3);
        border-width: 2px;
        height: .5rem;
        width: .55rem;
        margin-right: 15px;
        
    }
    .hl{

      height: 1px;
      border-bottom: 2px solid;
    
  }
  .btn{
    width: 150px;
    height: 50px;
    border: 3px solid var(--color4);
    display: block;
    position: relative;
    color: var(--color4);
    transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover{
      color: var(--color1);
      .btn-background{height: 100%;
      transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
      
    }
    .btn-background{
      bottom:0;
      left:0;
      display: block;
      position: absolute;
      background: var(--color4);
      height: 0;
      width: 100%;
      transform-origin: bottom;
      transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      
      }
    .btn-text{
      display: block;
      position: relative;
      z-index: 1;
      background-color: transparent;
    }
  }
  